<div class="overall-container">
    <div class="table-actions" *ngIf="showCards$ | async">
        <button (click)="resetTable()" class="reset-button">
            <span>New Round</span>
        </button>
    </div>

    <div class="table-container">
        <div class="table"></div>

        <ng-container *ngIf="showCards$ | async">
            <app-stats-display 
                *ngIf="average$ | async"
                [average]="average$ | async"
                [participation]="participation$ | async">
            </app-stats-display>
        </ng-container>

        <button (click)="toggleCards()" class="action-button">
            <ng-container *ngIf="(showCards$ | async); else showCardsButton">
                <span>Hide Cards</span>
            </ng-container>
            <ng-template #showCardsButton>
                <span>Show Cards</span>
            </ng-template>
        </button>

        <ng-container *ngIf="(players$ | async) as players">
            <div *ngFor="let player of players; let i = index" 
                class="player"  
                [ngStyle]="getPlayerPosition(i, players.length)">
                <div class="player-container">
                    <ng-container *ngIf="(showCards$ | async) as showCards">
                        <app-card 
                            [hidden]="false" 
                            [highlight]="!!player.card && showCards" 
                            [placeholder]="!showCards"
                            [hasValue]="!!player.card">
                            <span>{{ player.card || '?' }}</span>
                        </app-card>
                    </ng-container>
                    <ng-container *ngIf="!(showCards$ | async)">
                        <app-card 
                            [hidden]="false" 
                            [highlight]="false" 
                            [placeholder]="true"
                            [hasValue]="!!player.card">
                            <span>?</span>
                        </app-card>
                    </ng-container>
                    <div class="player-name" 
                        [class.current-player]="player.name === players[0].name">
                        {{ player.name }}
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>