<div class="card-deck-container">
    <div class="card-deck">
        <app-card *ngFor="let card of cards"
                [highlight]="card.selected"
                [value]="card.value"
                (onSelected)="selectCard(card)">
            <div class="card-content">
                <span [class.infinity]="isSpecialCard(card.value, 'infinity')"
                      [class.coffee]="isSpecialCard(card.value, 'coffee')">
                    {{ getDisplayValue(card.value) }}
                </span>
            </div>
        </app-card>
        <app-card *ngIf="hasSelectedCard()"
                 [placeholder]="true"
                 (onSelected)="toggleHelpModal()">
            <div class="help-content">
                <span class="help-icon">?</span>
                <span class="help-text">Help</span>
            </div>
        </app-card>
    </div>
</div>

<app-help-modal *ngIf="showHelpModal" (close)="toggleHelpModal()"></app-help-modal>